.advantages {}

.offer__advantages {
  margin: 0;
  padding: 0 30px;
  margin-top: 44px;
  padding-bottom: 280px;
}

.advantages__item {
  text-align: center;
  list-style: none;
  padding-bottom: 40px;
}

.advantages__heading {
  font-weight: bold;
  font-size: 18px;
}

.advantages__text {
  margin: 0;
  padding-top: 20px;
  font-weight: 300;
  font-size: 14px;
}