.attraction {
  background-color: #fff;
}

.offer__attraction {
  padding-top: 45px;
  position: relative;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  &::after {
    /*Triangle*/
    position: absolute;
    content: '';
    left: 0;
    bottom: -31px;
    height: 32px;
    width: 100%;
    background-image: url(../img/triangle.svg);
    background-size: cover;
    background-position: top center;
  }
}

.attraction__text {
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
}