.button {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  padding: 15px 35px;
}

.button__text {}

.button:hover {
  color: white;
  text-decoration: none;
}