.download {
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 30px 20px;
  background-color: #1d2631;
}

.download__button {
  margin-bottom: 30px;
}

.download__wrapper{
	margin-bottom: 20px;
}