.prices {
  padding-top: 95px;
  background-color: #f2f2f2;
  padding-bottom: 40px;
}
.prices__dot{
	margin-left: 8px;
  margin-right: 8px;
}
.prices__slider {}
.prices__price-list {}
.prices__slider-dots {
  margin-top: 40px;
}