.review {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.review__author {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.review__text {
  line-height: 30px;
  text-align: center;
  margin: 0;
}