.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-dots__dot {
  padding: 0;
  border: none;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 3px;

}

.slider-dots__dot--current {
  padding: 3px;
  border-radius: 6px;
  background-color: #fff;
  border: 3px solid #283645;
}